.navbar {
  padding: 0 40px;
}

.ui.basic.segment.masthead {
  min-height: 400px;
  background: #614385; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #614385 , #516395); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #614385 , #516395); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
