.ui.basic.segment.navbar {
  padding: 0 40px;
}

h1.ui.header.landing-header {
  font-size: 2.5rem;
  font-weight: normal;

  margin-top: 1.5em;
  margin-bottom: 1em;
}

h3.ui.header.landing-sub-header {
  font-weight: normal;
  margin-bottom: 1.5em;
}

.ui.basic.segment.masthead {
  min-height: 400px;
  background: #141E30; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #141E30 , #243B55); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #141E30 , #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ui.basic.segment.navbar-bg {
  background: #141E30; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #141E30 , #243B55); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #141E30 , #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.block-container {
  margin-top: 3em;
  margin-bottom: 3em;
  background-color: #fff;
}

.margin-top {
  margin-top: 2em;
}

.padding-top {
  padding-top: 2em;
}

.inverted-bg {
  background-color: #ECEEF1;
  min-height: 100vh;
}

.text-center {
  text-align: center;
}

.float-right {
  float: right;
}
