.ui.basic.segment.navbar {
  background-color: #7649ED;
}

.ui.basic.segment.masthead {
  min-height: 400px;
  background: #7649ED; /* fallback for old browsers */
}

h1.ui.header.landing-header {
  font-size: 2.5rem;
  font-weight: normal;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

h3.ui.header.landing-sub-header {
  font-weight: normal;
  margin-bottom: 1.5em;
}

.text-center {
  text-align: center;
}

.block-container {
  margin-top: 3em;
  margin-bottom: 3em;
  background-color: #fff;
}

.margin-top {
  margin-top: 2em;
}

.padding-top {
  padding-top: 2em;
}

.inverted-bg {
  background-color: #ECEEF1;
  min-height: 100vh;
}

.ui.basic.segment.secondary-nav {
  background: #fff;
  margin-left: -2rem;
  border-left: 1px solid #F7F7F7;
}

.ui.text.container.send-money {
  margin-top: 1em;
  background-color: #fff;
  max-width: 400px;
  margin-left: 0px!important;
}

.ui.container.fluid.wallets {
  padding-right: 2em;
}


.ui.fluid.container.dashboard {
  min-height: 100vh;
}

.ui.grid.dashboard-content {
  min-height: 100vh;
}

.ui.basic.segment.sidebar-nav {
  background-color: #FFF;
  min-height: 100%;
}

.header.user-dropdown p {
  font-weight: 400;
  text-transform: none;
}

.ui.basic.segment.sidebar-nav a.item {
  padding: 1em 0;
}

.ui.basic.segment.sidebar-nav a.item:active {
  color: rgba(118, 73, 237, 0.8)
}

.ui.basic.segment.sidebar-nav a.item:hover {
  color: rgba(118, 73, 237, 0.8)
}

.ui.basic.segment.sidebar-nav .item>i.icon {
  margin: 0 .7em 0 0
}

.ui.fluid.card.dashboard-content-card .card-header {
  flex-grow: 0;
  flex-shrink: 0;
}

.ui.fluid.card.dashboard-content-card .card-header .card-header-heading {
  color: rgba(118, 73, 237, 0.8);
  font-weight: 600;
  font-size: 1.4rem;
  padding: .3em;
}

.content.portfolio h2.header {
  font-size: 3rem;
  font-weight: normal;
  color: rgba(0,0,0, .6)
}

.ui.divider.card-divider {
  margin: 0 -1em;
  border-top: 0.8px solid rgba(0,0,0,.8);
}

.ui.basic.segment.portfolio-item-content .header {
  color: rgba(0,0,0, .6);
  font-weight: 600;
}

.ui.segment.basic.loading-main {
  height: 100vh;
  width: 100vh;
  background-color: #fff;
}

.send-money .ui.selection.dropdown.wallet-dropdown {
  min-height: 42px;
}
